{% extends 'main/layout.html' %}
{% block title %}Новости на сайте{% endblock %}

{% block content%}
    <div class="features">
        <h1>Новости на сайте</h1>
        <p>На нашем сайте представлена простая информация, что может вам помочь.</p>
        {% for el in news %}
            <div class="alert aler-warning">
                <h3>{{ el.title }}</h3>
                <p>{{ el.anons }}</p>
            </div>

        {% endfor %}
    </div>

{#    {% include 'main/test.html' %}#}
{% endblock %} 